.contact__container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray ;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 5px;
    transition: all .2s ease-in-out;
    background-color: darkcyan;

}
.contact__container:hover {
    background-color: rgba(0, 139, 139, 0.76);
}
.contact__action__btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 100%;
    background-color: rgb(211, 211, 211, .5);
}

.contact__bookmark {
    width: 10px;
    height: 100%;
    background-color: #6AAFAF;
}

.contact__caption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}